<a href="https://colab.research.google.com/github/NishitaErvantikar9/Python-Projects/blob/main/Starting_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Computer Science 12th Boards Practice**
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" height="100px"/>





1.   Python
2.   SQL
3.   Computer Networks





---

### **Taking input from user**

In [ ]:
h=int(input("enter the number:"))
sum=h*75
print (sum)

enter the number:5
375

###  **Understanding Print Function**

In [ ]:
#concatenation
print("nishita"+" rishica")

#replication
print("hasm"*5)

quality = "pretty"
#print paramaters
print("nishita is" , quality, sep="--" )


#print in loop
for i in range(10):
  print("choti","nish", sep="==" , end=" ")

nishita rishica
hasmhasmhasmhasmhasm
nishita is--pretty
choti==nish choti==nish choti==nish choti==nish choti==nish choti==nish choti==nish choti==nish choti==nish choti==nish

### **String Slices**

In [ ]:
name ="Hasmita Ervantikar"

#print mita ervan
print(name[3:13])

#print first 5 letters
print(name[:6])

#print last 6 letters
print(name[12:18])
print(name[12:])

#print from 3rd letter to last 2nd letter
print(name[2:16])
print(name[2:-2])

mita Ervan
Hasmit
ntikar
ntikar
smita Ervantik
smita Ervantik

### **string functions**

In [ ]:
a="hasmita ervantikar"
z="123xyz"

#capitalize
b=a.capitalize()
print (b)

#find 
c=a.find("mi",5,10)
if c== -1:
  print("the substring was not found")
else:
  print("mi was found in ", c ,"rd place")


#isalnum
d=a.isalnum()
print(d)
e=z.isalnum()
print(e)

#isalpha
f=a.isalpha()
print(f)

#isdigit
g=z.isdigit()
print(g)

#isspace
h=a.isspace()
print(h)

#islower
i=a.islower()
print(i)

#isupper
j=a.isupper()
print(j)

#istitle
k=a.istitle()
print(k)

#lower
l=a.lower()
print(l)

#upper
m=a.upper()
print(m)

#title
n=a.title()
print(n)

#swapcase
o=z.swapcase()
print(o)

#partition
p=a.partition("ti")
print(p)

#count
q=a.count("i")
print(q)

Hasmita ervantikar
the substring was not found
False
True
False
False
False
True
False
False
hasmita ervantikar
HASMITA ERVANTIKAR
Hasmita Ervantikar
123XYZ
('hasmita ervan', 'ti', 'kar')
2
mita ervantikar
hasmita ervanti

In [ ]:
a="nishchay ervantikar"

#lstrip
r=a.lstrip("nishita")
print(r)

#rstrip
s=a.rstrip("nishita")
print(s)

chay ervantikar
nishchay ervantikar

### **Creating Lists**

In [ ]:
el=[1,2,3]
print(l)
m=list("nishita")
print(m)

#using keyboard input
k=list(input("enter your name:"))
print (k)

#concatenation
j=(l+m)
print(j)

#replication
n=(m*5)
print(n)

#transversing
for i in k:
  print(i)

#slicing
print(j[2:-2:2])

#mutable
k[0]="p"
print(k)

[1, 2, 3]
['n', 'i', 's', 'h', 'i', 't', 'a']
enter your name:hasmita
['h', 'a', 's', 'm', 'i', 't', 'a']
[1, 2, 3, 'n', 'i', 's', 'h', 'i', 't', 'a']
['n', 'i', 's', 'h', 'i', 't', 'a', 'n', 'i', 's', 'h', 'i', 't', 'a', 'n', 'i', 's', 'h', 'i', 't', 'a', 'n', 'i', 's', 'h', 'i', 't', 'a', 'n', 'i', 's', 'h', 'i', 't', 'a']
h
a
s
m
i
t
a
[3, 'i', 'h']
['p', 'a', 's', 'm', 'i', 't', 'a']

### **List Manipulation**

In [6]:
# Modification of lists using slicing
l=[1,2,3,4,5]
l[2:]=[7,8,9]
print(l)

#append
l.append(10)
print(l)

#updating
l[2]=27
print(l)

#delete
del l[1:3]
print(l)

#making true copy of list

[1, 2, 7, 8, 9]
[1, 2, 7, 8, 9, 10]
[1, 2, 27, 8, 9, 10]
[1, 8, 9, 10]

### **List Functions**

In [27]:
#INDEX
A=[4,5,6,7,8,9,10]
B=A.index(6)
print(B)


#APPEND
A.append(3)
print(A)


#EXTEND
A.extend([11,12,13])
print(A)

#INSERT
A.insert(3,5)
print(A)

#POP
A.pop(5)
print(A)

#REMOVE
A.remove(9)
print(A)

#COUNT
print(A.count(5))


#REVERSE
A.reverse()
print(A)

#SORT
A.sort()
print(A)

#clear
A.clear()
print(A)

2
[4, 5, 6, 7, 8, 9, 10, 3]
[4, 5, 6, 7, 8, 9, 10, 3, 11, 12, 13]
[4, 5, 6, 5, 7, 8, 9, 10, 3, 11, 12, 13]
[4, 5, 6, 5, 7, 9, 10, 3, 11, 12, 13]
[4, 5, 6, 5, 7, 10, 3, 11, 12, 13]
2
[13, 12, 11, 3, 10, 7, 5, 6, 5, 4]
[3, 4, 5, 5, 6, 7, 10, 11, 12, 13]
[]

### **file handling**

In [2]:
st="python programming"
count=4
while True:
  if st[0]=="p":
    st=st[2:]
    print(st)
  elif st[-2]=="n":
      st=st[:6]
      print(st)
  else:
      count+=1
      break
print(st)
print(count)

thon
5